<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: meta_header('書籍一覧',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/book/index.css}" />
    <script type="text/javascript" th:src="@{/js/book/index.js}"></script>
</head>
<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">書籍一覧</div>
            </div>
            <div style="display: flex;">
                <div style="display: flex; align-items: center; margin-left: auto; background-color: #90EE90; padding: 10px; border-radius: 8px;">
                    <img th:src="@{/images/icons/add.png}" alt="アイコン" style="height: 16px; vertical-align: middle; margin-right: 5px;">
                    <a class="menu_link" style="text-decoration: none; color: black;" th:href="@{/book/add}">書籍登録</a>
                </div>
            </div>
                        <br>
            <div>
                <table class="books_table">
                    <thead>
                        <tr>
                            <th>書籍名</th>
                            <th>ISBN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${bookMstList}">
                            <td th:text="${book.title}">書籍名 </td>
                            <td th:text="${book.isbn}">ISBN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
</body>